body
{
    color:              #fff;
    background-color:   #282D3C;
    padding-bottom:     50px;
}

h1
{
    text-align:         center;
}

.mainBody
{
    max-width:          800px;
    margin-left:        auto;
    margin-right:       auto;
    padding-top:        30px;
}

.formulario
{
    max-width:          500px;
    margin-left:        auto;
    margin-right:       auto;
    padding-top:        30px;  
}

.modal-content
{
    color:              #fff;
    background-color:   #282D3C;
}
